.features {
    @apply grid grid-cols-12 gap-4;
  }
  
  .featuresList {
    @apply grid grid-cols-4 gap-4;
    padding: 10rem;
  }
  
  .featureItem {
    @apply grid grid-cols-4 gap-4;
    display: flex;
    align-items: center;
  }
  
  .featureText {
    @apply col-span-4;
  }
  
  .featureTitle {
    @apply block text-2xl font-bold mb-1;
  }
  
  .featureDescription {
    @apply block text-gray-600;
  }
  
  .featureImage {
    @apply col-span-8;
  }
  
  .featureImage img {
    @apply w-full h-full object-cover;
  }